<?php
/**
 * Functions to register client-side assets (scripts and stylesheets) for the Gutenberg block.
 *
 * @package {{namespace}}
 */

/**
 * Enqueues block assets to apply inside the editor only.
 */
function {{machine_name}}_enqueue_block_editor_assets() {
	$dir = dirname( __FILE__ );

	$block_js = '{{slug}}/block.js';
	wp_enqueue_script(
		'{{slug}}-block-editor',
		plugins_url( $block_js, __FILE__ ),
		array(
			'wp-blocks',
			'wp-i18n',
			'wp-element',
		),
		filemtime( "$dir/$block_js" )
	);

	$editor_css = '{{slug}}/editor.css';
	wp_enqueue_style(
		'{{slug}}-block-editor',
		plugins_url( $editor_css, __FILE__ ),
		array(
			'wp-blocks',
		),
		filemtime( "$dir/$editor_css" )
	);
}
add_action( 'enqueue_block_editor_assets', '{{machine_name}}_enqueue_block_editor_assets' );

/**
 * Enqueues block assets to apply both on the front of your site and in the editor.
 */
function {{machine_name}}_enqueue_block_assets() {
	$dir = dirname( __FILE__ );

	$style_css = '{{slug}}/style.css';
	wp_enqueue_style(
        '{{slug}}-block',
		plugins_url( $style_css, __FILE__ ),
		array(
            'wp-blocks',
		),
		filemtime( "$dir/$style_css" )
	);
}
add_action( 'enqueue_block_assets', '{{machine_name}}_enqueue_block_assets' );
