<?php
/**
 * {{theme_name}} Theme functions and definitions
 *
 * @link https://developer.wordpress.org/themes/basics/theme-functions/
 *
 * @package {{slug}}
 */

add_action( 'wp_enqueue_scripts', '{{child_theme_function_safe}}_parent_theme_enqueue_styles' );

/**
 * Enqueue scripts and styles.
 */
function {{child_theme_function_safe}}_parent_theme_enqueue_styles() {
	wp_enqueue_style( '{{parent_theme}}-style', {{parent_file_uri_function}} . '/style.css' );
	wp_enqueue_style( '{{slug}}-style',
		{{child_file_uri_function}} . '/style.css',
		array( '{{parent_theme}}-style' )
	);

}
