<?php
/**
 * Class SampleTest
 *
 * @package {{plugin_package}}
 */

/**
 * Sample test case.
 */
class SampleTest extends WP_UnitTestCase {

	/**
	 * A single example test pass.
	 */
	public function test_sample_pass() {
		// Replace this with some actual testing code.
		$this->assertTrue( true );
	}

	/**
	 * A single example test error.
	 */
	public function test_sample_error() {
		// Replace this with some actual testing code.
		$this->assertTrue( false );
	}
}
