pipelines:
  default:
    - step:
        image: tfirdaus/wp-docklines:php5.6-fpm-alpine
        name: "PHP 5.6"
        script:
          - phpcs
          - bash bin/install-wp-tests.sh wordpress_tests root root 127.0.0.1 latest true
          - phpunit
        services:
          - database
    - step:
        image: tfirdaus/wp-docklines:php7.0-fpm-alpine
        name: "PHP 7.0"
        script:
          - phpcs
          - bash bin/install-wp-tests.sh wordpress_tests root root 127.0.0.1 latest true
          - phpunit
        services:
          - database
    - step:
        image: tfirdaus/wp-docklines:php7.1-fpm-alpine
        name: "PHP 7.1"
        script:
          - phpcs
          - bash bin/install-wp-tests.sh wordpress_tests root root 127.0.0.1 latest true
          - phpunit
        services:
          - database
    - step:
        image: tfirdaus/wp-docklines:php7.2-fpm-alpine
        name: "PHP 7.2"
        script:
          - phpcs
          - bash bin/install-wp-tests.sh wordpress_tests root root 127.0.0.1 latest true
          - phpunit
        services:
          - database
definitions:
  services:
    database:
      image: mysql:latest
      environment:
        MYSQL_DATABASE: 'wordpress_tests'
        MYSQL_ROOT_PASSWORD: 'root'
