machine:
  php:
    version: 5.6.22
  environment:
    WP_TESTS_DIR: /tmp/wordpress-tests-lib
    WP_CORE_DIR: /tmp/wordpress/
    PATH: $HOME/.composer/vendor/bin:$PATH

dependencies:
  pre:
    - sudo apt-get update; sudo apt-get install subversion

test:
  pre:
    - composer global require "phpunit/phpunit=5.7.*"
    - |
      composer global require wp-coding-standards/wpcs
      phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs
  override:
    - phpcs
    {{#wp_versions_to_test}}
    - |
      rm -rf $WP_TESTS_DIR $WP_CORE_DIR
      bash bin/install-wp-tests.sh wordpress_test ubuntu '' 127.0.0.1 {{.}}
      phpunit
      WP_MULTISITE=1 phpunit
    {{/wp_versions_to_test}}
    - |
      phpenv global 7.0.17
      rm -rf $WP_TESTS_DIR $WP_CORE_DIR
      bash bin/install-wp-tests.sh wordpress_test ubuntu '' 127.0.0.1 latest
      phpunit
      WP_MULTISITE=1 phpunit
    - |
      phpenv global 7.1.3
      rm -rf $WP_TESTS_DIR $WP_CORE_DIR
      bash bin/install-wp-tests.sh wordpress_test ubuntu '' 127.0.0.1 latest
      phpunit
      WP_MULTISITE=1 phpunit
